<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EIGRP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">EIGRP For IPv4</ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content">
            <p>EIGRP Basics.</p>
            <hr class="line">

            <ion-img src="assets/icon/2.1.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>EIGRP Metric Weights</p>
            <hr class="line">
            <ion-img src="assets/icon/2.2.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>EIGRP Router ID</p>
            <hr class="line">
            <ion-img src="assets/icon/2.3.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>EIGRP Timers</p>
            <hr class="line">
            <ion-img src="assets/icon/2.4.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>EIGRP Auto-Summarization</p>
            <hr class="line">
            <ion-img src="assets/icon/2.5.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">OSPF For IPv6</ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content">
            <p>SOSPF For IPv6 Basics</p>
            <hr class="line">
            <ion-img src="assets/icon/3.1.png" alt="Image" class="zoom"></ion-img>
<br>
            <p>Route Summarization</p>
            <hr class="line">
            <ion-img src="assets/icon/3.2.png" alt="Image" class="zoom"></ion-img>
<br>
            <p>Router-id</p>
            <hr class="line">
            <ion-img src="assets/icon/3.3.png" alt="Image" class="zoom"></ion-img>
<br>
            <p>Verify and Troubleshooting OSPF For IPv6</p>
            <hr class="line">
            <ion-img src="assets/icon/3.4.png" alt="Image" class="zoom"></ion-img>
<br>
<p>Verify and Troubleshooting OSPF For IPv6</p>
            <hr class="line">
            <ion-img src="assets/icon/3.5.png" alt="Image" class="zoom"></ion-img>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


