<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>STP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
          
          <ion-card-content class="card-content">
            <p><strong>Enable STP</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/stp1.png" />
            <br>
            <br>
            <br>
            <p><strong>Configure Root Switch</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/stp2.png" />
            <br>
            <br>
            <br>
            <p><strong>Configure Secondary Root Switch</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp3.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>Configuring the Switch Priority of a VLAN</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp4.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Configure Port Priority</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp5.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>Configure Path Cost</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp6.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>STP Timers</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp7.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>PortFast</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp8.png" alt="Image"></ion-img>
           
            <br>
            <br>
            <br>
            

            <p><strong>BPDU Guard</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp9.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>Exted System-ID</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp10.png" alt="Image"></ion-img>

            <br>
            <br>
            <br>
            

            <p><strong>STP Modes</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp11.jpg" alt="Image"></ion-img>

            <br>
            <br>
            <br>
            

            <p><strong>Rapid-PVST</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp12.png" alt="Image"></ion-img>

            <br>
            <br>
            <br>
            

            <p><strong>MST Configuration</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp13.jpg" alt="Image"></ion-img>

            <br>
            <br>
            <br>
            

            <p><strong>Verifying and TroubleShooting STP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/stp14.png" alt="Image"></ion-img>

          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>