<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Network Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        
        <ion-card class="card">
          
          <ion-card-header>
            <ion-card-title class="card-title">Switch Port Security</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            <p><strong>Setting Password To Switch</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/switch1.png" />
            <br>
            <br>
            <br>
            <p><strong>Configuring Static MAC Address</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/switch2.png" />
            <br>
            <br>
            <br>
            <p><strong>Switch Port Security</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/switch3.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>Verifying Switch Port Security</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/switch4.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Sticky MAC Address</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/switch5.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Recovering Automatically from error-disabled ports</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/switch6.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Configuring Multilink PPP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/switch7.png" alt="Image"></ion-img>
            
            <br>
            
            
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>