<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>VLANs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
          
          <ion-card-content class="card-content">
            <p><strong>Create VLANs Using Configuration Mode</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/v1.png" />
            <br>
            <br>
            <br>
            <p><strong>Create VLANs Using Database Mode</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/v2.png" />
            <br>
            <br>
            <br>
            <p><strong>Assigning Ports to VLAN</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/v3.jpg" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>Assigning ports using Range Command</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/v4.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Assigning ports Using Range Command</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/v5.jpg" alt="Image"></ion-img>
            
            <br>
            
           
            
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>