<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Hot Standby Router Protocol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
          
          <ion-card-content class="card-content">
            <p><strong>HSRP</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/h1.jpg" />
            <br>
            <br>
            <br>
            <p><strong>Default HSRP Configurations</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/h2.jpg" />
            <br>
            <br>
            <br>
            <p><strong>HSRP Preempt</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/h3.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>HSRP Timers</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/h4.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>HSRP Interface Tracking</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/h5.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>Verying HSRP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/h6.jpg" alt="Image"></ion-img>
            
            <br>
            
           
            
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>