<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Managing IP Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Network address translation</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>Dynamic NAT One Private to One Public Address Translation</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/nat1.png" />
            <br>
            <br>
            <br>
            <p><strong>PAT Many Private to One Public Address Translation</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/nat2.png" />
            <br>
            <br>
            <br>
            <p><strong>Static NAT: One Private to One Permanent Public Address Translation</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/nat3.png" alt="Image"></ion-img>
            <br>
            <br>
            <br>
            <p><strong>Verifying NAT and PAT</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/nat4.png" alt="Image"></ion-img>
            <br>
            <br>
            <br>
            <p><strong>TroubleShooting NAT and PAT</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/nat5.png" alt="Image"></ion-img>
            <br>
           
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Dynamic Host Configuration Protocol
            </ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>Configure DHCP Server</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/d1.png" />
            <br>
            <br>
            <br>
            <p><strong>Cisco IP Phones With DHCP Server</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/d2.png" />
            <br>
            <br>
            <br>
            <p><strong>Verifying DHCP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/d3.png" alt="Image"></ion-img>
            <br>
            <br>
            <br>
            <p><strong>DHCP Helper Address</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/d4.png" alt="Image"></ion-img>
            <br>
            <br>
            <br>
            <p><strong>DHCP Client on Cisco IOS Software</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/d5.png" alt="Image"></ion-img>
            <br>
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>