<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>BGP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Border Gateway Protocol
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="card-content">
            <p>BGP Basics.</p>
            <hr class="line">

            <ion-img src="assets/icon/b1.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>BGP and Loopback Address</p>
            <hr class="line">
            <ion-img src="assets/icon/b2.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Verify BGP Connections</p>
            <hr class="line">
            <ion-img src="assets/icon/b3.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Troubleshooting BGP Connections</p>
            <hr class="line">
            <ion-img src="assets/icon/b4.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>BGP Auto-Summarization</p>
            <hr class="line">
            <ion-img src="assets/icon/b5.png" alt="Image" class="zoom"></ion-img>
            <br>
            
          </ion-card-content>
        </ion-card>

      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


