<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>SWITCH BASICS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
      
          <ion-card-content class="card-content">
            <p>Commands Mode</p>
            <hr class="line">

            <ion-img src="assets/icon/s1.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Verifying Commands</p>
            <hr class="line">
            <ion-img src="assets/icon/s2.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Resetting SWITCH Configuration</p>
            <hr class="line">
            <ion-img src="assets/icon/s3.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Setting Hostname</p>
            <hr class="line">
            <ion-img src="assets/icon/s4.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Setting Password</p>
            <hr class="line">
            <ion-img src="assets/icon/s5.jpg" alt="Image" class="zoom"></ion-img>
            <br>

            <p>Setting IP Address and Default Gateways</p>
            <hr class="line">

            <ion-img src="assets/icon/s6.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Interface Description</p>
            <hr class="line">
            <ion-img src="assets/icon/s7.png" alt="Image" class="zoom"></ion-img>
            <br>
            <p>MDX</p>
            <hr class="line">
            <ion-img src="assets/icon/s8.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Duplex Operation</p>
            <hr class="line">
            <ion-img src="assets/icon/s9.jpg" alt="Image" class="zoom"></ion-img>
            <br>
            <p>Operation Speed</p>
            <hr class="line">
            <ion-img src="assets/icon/s10.jpg" alt="Image" class="zoom"></ion-img>
            <br>

            <p>Managing Mac Address Table</p>
            <hr class="line">
            <ion-img src="assets/icon/s11.png" alt="Image" class="zoom"></ion-img>
            <br>
            
          </ion-card-content>
        </ion-card>

      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


