<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title class="flex-center">Router Basics</ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
        

        <ion-card-content class="card-content">
          <p><strong>Static Routing Basics</strong></p>
          <hr class="line">
          <img alt="Silhouette  of mountains" src="assets/icon/sr1.png" class="zoom" />
          <br>
          <br>
          
          <p><strong>Permanent Keyboard</strong></p>
          <hr class="line">
         
          <img alt="Silhouette of mountains" src="assets/icon/sr2.png" class="zoom" />
          <br>
          <br>
         
          <p><strong>Floating Static Routes and Administrative Distance</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr3.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
       
          

          <p><strong>Default Route For IPv4</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr4.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
         

          <p><strong>Verifying IPv4 Static Route</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr5.jpg" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          <br>
       

          <p><strong>Static Route For IPv6</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr6.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

          <p><strong>Floating Static Route For IPv6</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr7.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

          <p><strong>Setting the clock Time Zone</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr8.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

          <p><strong>Show Commands</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/sr9.png" alt="Image"  class="zoom"></ion-img>
          
          <br>
          <br>
         


          
          
         
        </ion-card-content>
      </ion-card>

      

        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>