<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>VLANs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">DTP</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>Dynamic Trunking Protocol (DTP)</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/dtp1.png" />
            <br>
           
          
            
           
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">VTP</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>VLAN Trunking Protocol(VTP)</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/vtp1.jpg" />
            <br>
            <br>
            <br>
            <p><strong>Verifying VTP</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/vtp2.png" />
            <br>
            
           
            
           
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">InterVlan Routing</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p><strong>Router On a Stick</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/r1.jpg" />
            <br>
            <br>
            <br>
            <p><strong>Remove L2 Switchport</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/r2.png" />
            <br>
            <br>
            <br>
            <p><strong>InterVlan SVI</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/r3.jpg" alt="Image"></ion-img>
            
            <br>
  
           
            
           
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>