<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Quality of service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
          
          <ion-card-content class="card-content">
            <p><strong>Basics QOS</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/qos1.png" />
            <br>
           
            
            
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>