<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EtherChannel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
          
          <ion-card-content class="card-content">
            <p><strong>L2 Etherchannel</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/E1.png" />
            <br>
            <br>
            <br>
            <p><strong>L3 Etherchannel</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/E2.png" />
            <br>
            <br>
            <br>
            <p><strong>Verify EtherChannel</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/E3.png" alt="Image"></ion-img>
            
            <br>
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>