<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Point To Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
          
          <ion-card-content class="card-content">
            <p><strong>Configure HDLC</strong></p>
            <hr class="line">
            <img alt="Silhouette of mountains" src="assets/icon/p2p1.png" />
            <br>
            <br>
            <br>
            <p><strong>Configure PPP</strong></p>
            <hr class="line">
           
            <img alt="Silhouette of mountains" src="assets/icon/p2p2.png" />
            <br>
            <br>
            <br>
            <p><strong>PPP Compression</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p3.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
            

            <p><strong>PPP link quality monitoring</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p4.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>PPP Authentication</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p5.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Verifying and TroubleShooting PPP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p6.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Configuring Multilink PPP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p6.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Verifying and TroubleShooting Multilink PPP</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p7.png" alt="Image"></ion-img>
            
            <br>
            <br>
            <br>
           

            <p><strong>Assigning ports Using Range Command</strong></p>
            <hr class="line">
          
            <ion-img src="assets/icon/p2p8.png" alt="Image"></ion-img>
            
            <br>
            
           
          </ion-card-content>
        </ion-card>

        

        
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>