<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title class="flex-center">Routing Information Protocol</ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
        

        <ion-card-content class="card-content">
          <p><strong>RIP Basisc</strong></p>
          <hr class="line">
          <img alt="Silhouette  of mountains" src="assets/icon/rip1.png" class="zoom" />
          <br>
          <br>
          
          <p><strong>Auto Summary and Passive Interfaces</strong></p>
          <hr class="line">
         
          <img alt="Silhouette of mountains" src="assets/icon/rip2.jpg" class="zoom" />
          <br>
          <br>
         
          <p><strong>Timers</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/rip3.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
       
          

          <p><strong>Verify RIP</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/rip4.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
         

          <p><strong>Implementing RIP Next Generation</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/rip5.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          <br>
       

          <p><strong>Verifying and Troubleshooting RIPng</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/rip6.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

         
          
         
        </ion-card-content>
      </ion-card>

      

        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>