<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title class="flex-center">Router Basics</ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          
        

        <ion-card-content class="card-content">
          <p><strong>Router Modes</strong></p>
          <hr class="line">
          <img alt="Silhouette  of mountains" src="assets/icon/basicr1.jpg" class="zoom" />
          <br>
          <br>
          
          <p><strong>Change Hostname</strong></p>
          <hr class="line">
         
          <img alt="Silhouette of mountains" src="assets/icon/basicr2.jpg" class="zoom" />
          <br>
          <br>
         
          <p><strong>Setting Passwords</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr3.jpg" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
       
          

          <p><strong>Password Encryption</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr4.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
         

          <p><strong>Simple Interface Configuration</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr5.jpg" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          <br>
       

          <p><strong>Assigning IPv6 Address to Interface</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr6.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

          <p><strong>Banners</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr7.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

          <p><strong>Setting the clock Time Zone</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr8.png" alt="Image" class="zoom"></ion-img>
          
          <br>
          <br>
          

          <p><strong>Show Commands</strong></p>
          <hr class="line">
        
          <ion-img src="assets/icon/basicr9.png" alt="Image"  class="zoom"></ion-img>
          
          <br>
          <br>
         


          
          
         
        </ion-card-content>
      </ion-card>

      

        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>